*
{
	margin:0;
	padding:0;
}
body
{
	box-sizing:border-box;
	font-family: 'Verdana', sans-serif;
}
.pgi-logo
{
	width:70px;
}
.wrapper
{
	background:rgba(0,0,0,0.6);
	width:100%;
	height:100vh;
	position:fixed;
	top:0;
	left:0;
	overflow-Y:auto;
}
.select-mon
{
	font-size:20px;
	text-align:center;
	color:white;
	font-weight:bold;
	margin:30px;
}
.months
{
	display:flex;
}
.month-con
{
	width:80%;
	margin:auto;
}
.mon
{
	flex:1;
	text-align:center;
}
.mon p
{
	font-size:25px;
	background:black;
	color:blue;
	margin:10px;
	padding:5px 0;
	cursor:pointer;
}
.mon p:active,.confirm-btn:active
{
	transform:scale(.99);
}
.confirm-mon
{
	text-align:center;
	font-size:20px;
	color:white;
	text-transform:uppercase;
	margin:20px;
	display:none;
}
#confirm-mon
{
	display:inline-block;
}
.day28-29,.faltu
{
	text-align:center;
	margin:15px;
}
.day28-29
{
	display:none;
}
.day28,.day29
{
	background:black;
	color:white;
	padding:5px;
	cursor:pointer;
}
.day-active
{
	background:white;
	color:black;
}
.confirm-btn
{
	text-align:center;
	border:none;
	font-size:20px;
	background:black;
	color:white;
	padding:5px;
	cursor:pointer;
	font-family: 'Poppins', sans-serif;
	border-radius:25px;
	display:none
}
.confirm-btn:hover
{
	background:white;
	color:black;
}
.head
{
	text-align:center;
	font-size:20px;
	font-weight:bold;
	text-transform:uppercase;
}

.add-table
{
	width:50px;
	height:50px;
	background:black;
	position:fixed;
	bottom:20px;
	right:20px;
	border-radius:50%;
	cursor:pointer;
	text-align:center;
	align-items:center;
	justify-content:center;
	margin:auto;
	display:none;
}
.remove-table
{
	width:50px;
	height:50px;
	background:black;
	position:fixed;
	bottom:20px;
	right:80px;
	border-radius:50%;
	cursor:pointer;
	text-align:center;
	align-items:center;
	justify-content:center;
	margin:auto;
	display:none;
}
.cross1
{
	transform:rotate(90deg);
	width:35px;
	height:3px;
	background:white;
	margin:auto;
	position:relative;
	top:23px;
}
.cross2
{
	width:35px;
	height:4px;
	background:white;
	margin:auto;
	position:relative;
	top:20px;
}
.cross
{
	width:35px;
	height:3px;
	background:white;
	margin:auto;
	position:relative;
	top:23px;
}
.add-table:active,.remove-table:active
{
	transform:scale(.99);
}

select::-ms-expand
{
	display:none;
}
select option
{
	text-align:center;
}
select
{
	text-align:center;
    width:100%;
	border:none;
    -webkit-appearance: none;
    appearance: none;
	font-size:17px;
}

select:focus,table tr td input:focus
{
	outline-color:blue;
}

table
{
	width:100%;
	margin-bottom:80px;
}
table tr th
{
	font-size:17px;
}
table tr td
{
	text-align:center;
	font-size:17px;
}
table tr td input
{
	width:100%;
	border:none;
	font-size:20px;
}
#name
{
	width:200px;
}

::-webkit-scrollbar
{
	width:0px;
}
.print-btn
{
	display:none;
	font-family: 'Poppins', sans-serif;
	padding:5px 6px;
	cursor:pointer;
}
.enter-year
{
	text-align:center;
	margin:10px;
}
.enter-year p
{
	color:red;
	display:none;
}
.print-con
{
	position:fixed;
	bottom:20px;
	left:20px;
}
.year
{
	border:1px solid white;
	border-radius:5px;
	background:inherit;
	width:30%;
	text-align:center;
	font-size:20px;
	color:white;
	padding:10px 0;
}
::placeholder
{
	color:#ccc;
}
.head-row td
{
	font-size:10px;
}
.sign
{
	display:none;
}
.last-row td
{
	text-align:center;
}
